<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <center>

        <h1>insert_cbv</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{SFO}}</td>
                </tr>
            </table><br>
            <input type="submit" value="cbv_insert">
        </form>
    </center>
</body>
</html>